div.StatusInfoBox {
  position: relative;
  float: left;
  width: 160px;
  height: 146px;
  margin: 5px;
  background: linear-gradient(to bottom right, rgba(45, 65, 149, 1), rgba(87, 109, 189, 0.8));
  cursor: default;
  color: white;
  font-family: 'Montserrat', sans serif;
}
    
div.StatusInfoBox > .centerVertical
{
  top: 45%;
}

div.StatusValue {
  font-size: 24px;
  height: 50%;
}

div.StatusInfoBox:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.3s;
}

div.StatusInfoBox > .StatusFooter > .right {
  bottom: 0px;
}
